.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
esbuild.js
vitest.config.*
tsconfig.json
node_modules/**
packages/**
tests/**
coverage/**
.github/**
.claude/**
.gemini/**
*.vsix
.eslintrc.json
**/*.map
**/.DS_Store
out/**
dist/**/*.map

