.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
esbuild.js
vitest.config.*
tsconfig.json
node_modules/**
packages/**
tests/**
coverage/**
.github/**
.claude/**
.gemini/**
presentation/blue/**
presentation/white/**
presentation/index.html
presentation/logo.png
presentation/*.mp4
cover.png
*.vsix
.eslintrc.json
**/*.map
**/.DS_Store
out/**
dist/**/*.map

